<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="d947e31d-ef80-4cc5-85c1-d818c355c2a4" Publisher="CN=Henning" Version="1.0.0.0" />
  <Properties>
    <DisplayName>SQLWebProxySharpTest.Metro</DisplayName>
    <PublisherDisplayName>Henning</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>SQLWebProxySharpTest.Metro</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SQLWebProxySharpTest.Metro.App">
      <VisualElements DisplayName="SQLWebProxySharpTest.Metro" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="SQLWebProxySharpTest.Metro" ForegroundText="light" BackgroundColor="#222222">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
  </Capabilities>
</Package>